:host {
  display: block;
  padding: 20px;

  > div {
    margin-bottom: 20px;
  }

  .not-found-warning {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }

  .city-name {
    padding: 20px 0;
    font-size: 2em;
  }
}
