:host {
  display: block;
  padding: 20px;
  border-radius: 8px;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(20, 81, 171, 0.9) 50%);;
  color: aliceblue;
  text-align: center;

  .daily-weather {
    &__date {
      margin-bottom: 8px;
      font-size: 1.5em;
    }

    &__row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 10px;
      align-items: center;

      &.humidity {
        border-top: 2px solid rgba(white, .1);
      }

      &--title {
        font-size: 1em;
        text-align: right;
      }

      &--value {
        font-size: 2em;
      }
    }
  }
}
