* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

body {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
}

.tile {
  padding: 14px;
  border: 1px solid lightgrey;
  border-radius: 0.2em;
  text-align: center;
}
